.chat-screen-box {
    height: 80vh;
    background: white;
    overflow-y: scroll;
}

.chatBox {
    list-style: none;
    margin: 0 0 0 -40px;
}

.chatBox li {
    margin: 5px 0 5px 0;
    padding: 3px 5px 3px 5px;
}

.chatBox li span {
    color: #000000;
}

.chatBox .me {
    font-weight: 500;
    min-height: 20px;
    float: right;
    clear: both;
    background-color: #34a1ef;
    border-radius: 10px 2px 2px 10px;
    opacity: 0.6;
}

.chatBox .join {
    font-style: italic;
    min-height: 20px;
    text-align: center;
    clear: both;
}

.chatBox .him {
    font-weight: 500;
    min-height: 20px;
    float: left;
    clear: both;
    background-color: #ddd;
    border-radius: 2px 10px 10px 2px;
    opacity: 0.6;
}



